<!DOCTYPE html>
<html>
<head>
    <title>P5_Quiz</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1>Credits</h1>
    <p>Realizado por: Maria Lopez Gonzalez </p>
    <img src="/public/stylesheets/arctic.jpg">
    <p><a href="/">Home</a>
    <a href="/quizzes"> Quizzes </a></p>
</body>
</html>
