<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <p><a href="/credits">Credits</a>
    <a href="/quizzes"> Quizzes </a></p>
</body>
</html>
