<!DOCTYPE HTML>
<html>
<head>
    <title>Lista de Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style/css'/>
</head>
<body>
<h1>Hecho por MARIA LOPEZ</h1>
<p>
<a href="/">Home</a>
<a href="/credits">Credits</a>
</p>
<ul>
<%var quiz = (JSON.parse(quizzes)) %>
<% console.log(quiz) %>
<% console.log(quiz[1].question) %>
<%for(var i in quizzes){ %>
<li>
Pregunta número <% -i %><% -quiz[i].question %>
Respuesta número <% -i %><% -quiz[i].answer %>
</li>
<%}%>
</ul>
</body>
</html>

   
