<!DOCTYPE HTML>
<html>
<head>
    <title>Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style/css'/>
</head>
<body>
<h1>Lista de quizzes</h1>
<p>
<a href="/">Home</a>
<a href="/credits">Credits</a>
</p>
<ul>
<%for(var i in quizzes){ %>
<% var quiz = quizzes[i]; %>
<li>
<%= quiz.question %> : <%= quiz.answer %>
</li>
<%}%>
</ul>
</body>
</html>
